.test{
  .modify-on{
    width: 100%;
    display: flex;
    justify-content: center;
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    .example-full-width {
      width: 100%;
      .content-input{
        height: 300px;
      }
    }
  }
  .button-modify{
    margin-right: auto;
  }
}
