<div class="test">
  <div class="modify-off" *ngIf="!modify.isOn">
    <h1 mat-dialog-title>{{data[0].title}}</h1>
    <mat-dialog-content class="mat-typography">
      <pre>{{data[0].content}}</pre>
    </mat-dialog-content>
  </div>

  <div class="modify-on" *ngIf="modify.isOn">
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="제목을 입력하세요"
               [(ngModel)]="title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Content</mat-label>
        <textarea matInput
                  placeholder="내용을 입력하세요"
                  class="content-input"
                  [(ngModel)]="content"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close >닫기</button>
    <button mat-button [mat-dialog-close]="true" >삭제</button>
    <button mat-button (click)="toggleModifyMode()">수정</button>
  </mat-dialog-actions>
</div>
