<div class="test">
  <div class="modify-off" *ngIf="!modify.isOn">
    <h1 mat-dialog-title>{{title}}</h1>
<!--    <div class="content-body" [innerHTML]="content"></div>-->
    <mat-dialog-content class="mat-typography" [innerHTML]="content"></mat-dialog-content>
  </div>

  <div class="modify-on" *ngIf="modify.isOn">
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="제목을 입력하세요"
               [(ngModel)]="title">
      </mat-form-field>
      <ckeditor class="content-input"
                id="editor"
                [editor]="Editor"
                [(ngModel)]="content"
                (ready)="onReady($event)"
      ></ckeditor>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button (click)="confirmDelete()">삭제</button>
    <button mat-button (click)="toggleModifyMode()"
            class="button-modify">수정</button>
    <button mat-button mat-dialog-close>닫기</button>
  </mat-dialog-actions>
</div>
