<div class="write-component">
  <div class="write-component-wrap">
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="제목을 입력하세요"[(ngModel)]="title">
      </mat-form-field>
      <ckeditor class="content-input"
                id="editor"
                [editor]="Editor"
                [(ngModel)]="content"
                (ready)="onReady($event)"
      ></ckeditor>
    </div>
    <button mat-raised-button color="primary" class="button-submit"
            (click)="confirmWrite()">등록</button>
  </div>
</div>
<div class="result">
  {{content}}
</div>
<!--레포지토리에 이미지 저장되는지 확인용-->
<input type="file" (change)="onChange(fileInput.files)" #fileInput>
<img [src]="imageSrc" alt="">

<!--<button type="submit" class="file-upload" (click)="postUpload()">업로드</button>-->
