.write-component{
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    .example-full-width {
      width: 100%;
    }
    .button-submit{
      margin-top: 20px;
    }
  }
}
