.write-component{
  width: 100%;
  .write-component-wrap{
    padding: 30px 0;
    min-width: 150px;
    max-width: 500px;
    margin: 0 auto;

    .example-form {
      width: 100%;
      .example-full-width {
        width: 100%;
      }
    }

    .button-submit{
      margin-top: 20px;
    }
  }
}
